<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401693245016-e3damlifish7im8ftt2reb2kg9d7mqn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401693245016-e3damlifish7im8ftt2reb2kg9d7mqn0</string>
	<key>API_KEY</key>
	<string>AIzaSyDPMMS5rRFw1lbQXDP7TXk-lRWOFWpH9QY</string>
	<key>GCM_SENDER_ID</key>
	<string>401693245016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.majoong</string>
	<key>PROJECT_ID</key>
	<string>majoong-7ec07</string>
	<key>STORAGE_BUCKET</key>
	<string>majoong-7ec07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401693245016:ios:c275f43e81288c6c54142d</string>
</dict>
</plist>